
# ---- OpenCode ----
AGENTS.md

# ---- macOS ----
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ---- Nix ----
# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*


# ---- Other ----
# Created to help AI with troublshooting
nix_directory_tree.txt
# Rsync File used to avoid copying Carbon Copy Cloner files on other machine
rsync-ccc-ignore
# font directory
systems/common/fonts/

# ---- Security ----
# Secrets and credentials
*.key
*.pem
*.env
*id_rsa*
*id_ed25519*
*.secret
*.password
*.token
*.credentials

# SOPS-related files that might contain unencrypted secrets
.decrypted~*
*.unencrypted

# Age keys directory (contains private keys)
/keys/
